<!DOCTYPE html>
<!--模板继承，这才是母版，大部分相同的页面就用模板继承-->
{{/*注释*/}}
<html lang="zh-CN">
<head>
    <title>模板继承</title>
    <style>
        * {
            margin: 0;
        }
        .nav {
            height: 50px;
            width: 100%;
            position: fixed;
            top: 0;
            background-color: cornflowerblue;
        }
        .main {
            margin-top: 50px;
        }
        .menu {
            width: 20%;
            position: fixed;
            left: 0;
            background-color: aqua;
            height: 100%;
        }
        .content {
            text-align: center;
            font-size: 20px;
        }
    </style>
</head>
<body>
<div class="nav"></div>
<div class="main">
    <div class="menu"></div>
    <div class="content">
        {{ block "content" . }}
        {{ end }}
    </div>
</div>
</body>
</html>
