{{ define "users/index" }}
<!DOCTYPE html>
<html>
<head>
    <title>index</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    {{ safe .title }}

    <script src="/static/index.js"></script>
</body>
</html>
{{ end }}